<h1 style='margin-bottom: 20px;'><%= program.name %></h1>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li
      <%= "class='active'".html_safe if @active_tab == :home %>
      ><%= link_to 'Home', '/programs/' + program.id.to_s %></li>
    <li
      <%= "class='active'".html_safe if @active_tab == :code %>
      ><%= link_to 'Code', '/programs/file_browse/' + program.id.to_s %></li>
  </ul>
</div>