<%= javascript_include_tag 'program_file_viewer' %>
<%= javascript_include_tag 'programs' %>

<%= render partial: 'header', locals: {program: @program} %>

<div class='clearfix' >
  <div id='program_files_container'>
    <div id="program_files" >
      <ul>
      <% @program.top_level_files.each do |program_file| %>
        <%= output_file_tree(program_file) %>
      <% end %>
      </ul>
    </div>
  </div>

  <div id='program_file_viewer_container'>
    <%= render partial: 'program_file_viewer' %>
  </div>

</div>