<%= javascript_include_tag 'programs' %>

<h1 style='margin-bottom: 40px;'><%= @program.name %></h1>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class='active'><%= link_to 'outline', program_path(@program.id) %></li>
    <li><%= link_to 'file browse', '/programs/file_browse/' + @program.id.to_s %></li>
  </ul>
</div>

<div class='row-fluid' style='margin-top: 20px; '>

<%= markdown(@read_me.content) if @read_me %>

<div>

