<div class='clearfix' style='margin-bottom: 20px;'>
  <h1 style='margin-bottom: 14px;'>
    <%= link_to @subject.program.name, @subject.program %>
  </h1>
  <h2><%= link_to @subject.name, @subject %></h2>
</div>


<div class="tabbable">
  <ul class="nav nav-tabs">

    <li
      <%= "class='active'".html_safe if action_name == 'show' %>
      ><%= link_to 'memos', @subject %></li>

    <li
      <%= "class='active'".html_safe if action_name == 'file_browse' %>
      ><%= link_to 'file browse', file_browse_subject_path(subject) %></li>
    
  </ul>
</div>