<%= javascript_tag do %>
  subject = <%= raw @subject.to_json %>;
<% end %>

<%= javascript_include_tag 'program_file_viewer' %>
<%= javascript_include_tag 'programs' %>
<%= javascript_include_tag 'subjects_program_files' %>

<%= render partial: 'header', locals: {subject: @subject} %>

<div class='clearfix' >
  <div id='program_files_container'>
    <div id="program_files" >
      <ul>
      <% @subject.program_files.each do |program_file| %>
        <%= output_subject_program_files(program_file) %>
      <% end %>
      </ul>
    </div>
  </div>

  <div id='program_file_viewer_container'>
    <%= render partial: '/programs/program_file_viewer' %>
  </div>

</div>