<%= javascript_tag do %>
  subject = <%= raw @subject.to_json %>;
<% end %>

<%= javascript_include_tag 'programs' %>
<%= javascript_include_tag 'subjects_program_files' %>

<%= render partial: 'header', locals: {subject: @subject} %>

<div class='clearfix' >
  <div id='files_container'>
    <div id="files" >
      <ul>
      <% @subject.program.top_level_files.each do |program_file| %>
        <%= output_file_tree(program_file, :checkbox) %>
      <% end %>
      </ul>
    </div>
  </div>

  <div id='file_contents_container'>
    <div id='file_contents' class='codehilite'>
    </div>
  </div>

</div>